body{
    background-color:antiquewhite;
}
#a{
    background-color: rgb(27, 224, 122);
    display: inline-block;
}
#personal_info{
    text-align: left;
    background-color: rgb(44, 251, 106);
    padding: 5px;
    margin:1px;
    border: 3px dotted;
    text-decoration: underline;
}
#p{
    border: 3px dotted rgb(142, 183, 196);
    border-radius: 1%;
    float: right;
    margin-right:5px;
    padding:3px;
    height:80px;
    width:80px;
    border-radius: 5%;
}
#education{
    background-color: rgb(0, 255, 47);
    padding: 5px;
    margin:5px;
    border:3px dotted
}
#skills{
    background-color: rgb(5, 251, 107);
    padding: 5px;
    margin:5px;
    border:3px dotted
}
#Project{
    background-color: rgb(7, 239, 34);
    padding: 5px;
    margin:5px;
    border:3px dotted
}
#certification{
     background-color: rgb(6, 255, 10);
    padding: 5px;
    margin:5px;
    border:3px dotted
}